# Пример конфигурации для продакшена
# Скопируйте этот файл в .env.prod и настройте под ваш сервер

# Database credentials
DB_USER=mefole_user
DB_PASSWORD=dlejfk240l3j4
DB_NAME=mefole_db

# Domain (замените на ваш домен)
DOMAIN=mefole.com

# Email for Let's Encrypt SSL certificates
LETSENCRYPT_EMAIL=info@mefole.com

# Telegram Bot Token (если нужно изменить)
TELEGRAM_BOT_TOKEN=7331834468:AAG8OW363QJgz_FH25uW78tGPv-vmkzUnoc